/* You can add global styles to this file, and also import other style files */

body {
  background-color: lightblue;
}

.fit-contents {
  width: fit-content;
  height: fit-content;
}

.logo-size {
  height: 100px;
}

.dice-size {
  height: 65px;
  width: 65px;
}

.dice-point-sm {
  width:10px;
  height:10px;
}

.dice-point {
  width:15px;
  height:15px;
}