.dashboard-height {
  min-height: 30rem;
}

.list-width {
  min-width: 25.5rem;
}

.title-width {
  max-width: 10rem;
}

.search-width {
  width: 12.2rem;
}

.title-size {
  font-size: 1.2rem;
}

.limit-select-box-width {
  width: 5.3rem;
}

.status-select-box-width {
  width: 7rem;
}

.pagination-size {
  font-size: 4rem;
}