.dashboard-height {
  min-height: 30rem;
}

.list-width {
  min-width: 25.5rem;
}

.title-width {
  max-width: 10rem;
}

.search-width {
  width: 18rem;
}

.title-size {
  font-size: 1.2rem;
}
.title-max-width {
  max-width: 19rem;
}

.limit-select-box-width {
  width: 5.3rem;
}

.status-select-box-width {
  width: 7rem;
}

.pagination-size {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .list-width {
    min-width: 18rem;
  }
  .search-width {
    width: 8rem;
  }
  .title-size {
    font-size: 1.2rem;
  }
  .title-max-width {
    max-width: 11rem;
  }
}
