.dashboard-height {
  min-height: 30rem;
}

.list-width {
  min-width: 20rem;
}

.title-width {
  max-width: 17rem;
}

.search-width {
  width: 14.2rem;
}

.title-size {
  font-size: 1.2rem;
}

.select-box-width {
  width: 5.3rem;
}
