<app-header></app-header>
<div class="i18n-select m-2 position-absolute">
  <app-select-i18n></app-select-i18n>
</div>
<div class="d-flex flex-column text-white dashboard-height">
  <div class="d-flex justify-content-center mt-5 mb-4">
    <h2>{{i18n.get('roomList')}}</h2>
  </div>
  <div class="d-flex justify-content-center" *ngIf="rooms?.length > 0">
    <input type="text" class="border rounded search-width" placeholder="{{i18n.get('searchKeyword')}}" [ngModel]="keyword" (ngModelChange)="onTextChange($event)">
    <select class="limit-select-box-width custom-select ml-2" (change)="onSelectChangeLimit($event.target.value)">
      <option value="0" selected>{{i18n.get('all')}}</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select class="status-select-box-width custom-select ml-2" (change)="onSelectChangeStatus($event.target.value)">
      <option value="ALL" selected>{{i18n.get('all')}}</option>
      <option value="WAIT">{{i18n.get('WAIT')}}</option>
      <option value="PLAYING">{{i18n.get('PLAYING')}}</option>
    </select>
  </div>
  <div class="d-flex mt-3 justify-content-center">
    <a *ngIf="rooms?.length > 0" class="btn text-white pagination-size d-flex align-items-center {{firstPage ? 'disabled cursor-unset' : ''}}" (click)="movePage(-1)">
      <fa-icon [icon]="faLeft"></fa-icon>
    </a>
    <div *ngIf="paginatedRooms" class="d-flex flex-column mt-auto mb-auto">
      <div *ngFor="let room of paginatedRooms; let i = index">
        <button class="list-width btn btn-light btn-sm {{i === paginatedRooms.length - 1 ? '' : 'mb-1'}} d-flex justify-content-between {{room.status !== 'WAIT' ? 'disabled cursor-unset' : ''}}" (click)="joinRoom(room)">
          <div class="d-flex title-size">
            <span class="d-inline-block text-truncate title-max-width" title="{{room.title}}">{{room.title}}</span>
            <span>({{room.players.length}}/{{room.playerLimit}})</span>
          </div>
          <span class="ml-1 badge badge-{{room.status === 'WAIT' ? 'success' : 'warning'}}">{{i18n.get(room.status)}}</span>
        </button>
      </div>
    </div>
    <a *ngIf="rooms?.length > 0" class="btn text-white pagination-size d-flex align-items-center {{lastPage ? 'disabled cursor-unset' : ''}}" (click)="movePage(1)">
      <fa-icon [icon]="faRight"></fa-icon>
    </a>
  </div>
  <div class="ml-auto mr-auto" *ngIf="rooms?.length !== 0 && filteredRooms?.length === 0">
    <span>{{i18n.get('noFilteredRooms')}}</span>
  </div>
  <div class="ml-auto mr-auto" *ngIf="rooms?.length === 0">
    <span>{{i18n.get('noRooms')}}</span>
  </div>
</div>