.player-name-width {
  max-width: 7rem;
}

.info-size {
  min-width: 20rem;
  max-width: 20rem;
}

.title-width {
  max-width: 19rem;
}

.current-turn-size {
  font-size: 1.4rem;
}

.align {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .align {
    flex-wrap: wrap-reverse;
  }
  .info-size {
    min-width: 100%;
    max-width: 100%;
  }
  .waiting-width {
    width: 100%;
  }
}