.background {
  min-height: 588px;
  min-width: 590px;
  max-height: 588px;
  max-width: 590px;
  position: absolute;
  z-index: 2000;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.player-name-width{
  max-width: 20rem;
}

.console-ui {
  height: 7.1rem;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card-submit-size {
  width: 7rem;
}