<div class="container" *ngIf="room">
  <h1 class="text-white">{{room.title}}({{room.players.length}}/{{room.playerLimit}})</h1>

  <div class="d-flex justify-content-between">
    <app-waiting-room *ngIf="room.status === 'WAIT'"
      [room]="room"
      [player]="player"
      [startBtnDisableClass]="startBtnDisableClass"
      [callBackShuffle]="callBackShuffle"
      [callBackStart]="callBackStart"
    ></app-waiting-room>
    <app-board *ngIf="room.status !== 'WAIT'"
      [pieces]="pieces"
      [callBackOnClick]="callBackOnClick"
      [aniConfig]="aniConfig"
    ></app-board>
    <div class="border bg-dark p-2 w-100">
      <div class="d-flex">
        <span class="mt-1 text-white">
          {{i18n.get('player')}}
        </span>
        <span class="mt-1 text-white d-inline-block text-truncate player-name-width" title="{{player.name}}">
          ({{player.name}})
        </span>
        <span class="ml-1 mt-1 text-white">{{i18n.get('remainTime')}}{{(time / 1000).toFixed(2)}}</span>
      </div>
      <app-chat></app-chat>
    </div>
  </div>
  <app-console *ngIf="room.status !== 'WAIT'"
    [room]="room"
    [player]="player"
    [selectedCards]="selectedCards"
    [cardDisabled]="cardDisabled"
    [callBackUnselectCard]="callBackUnselectCard"
    [callBackSelectCard]="callBackSelectCard"
  ></app-console>
  <app-end-game-modal *ngIf="room.status === 'END'"
    [room]="room"
    [callBackReplay]="callBackReplay"
  ></app-end-game-modal>
</div>
