<div class="container" *ngIf="room">
  <h1 class="text-white">{{room.title}}({{room.players.length}}/{{room.playerLimit}})</h1>

  <div class="d-flex justify-content-between">
    <app-waiting-room *ngIf="room.status === 'WAIT'" [room]="room"
      [player]="player"
      [startBtnDisableClass]="startBtnDisableClass"
      [callBackShuffle]="callBackShuffle"
      [callBackStart]="callBackStart"
    ></app-waiting-room>
    <app-board *ngIf="room.status !== 'WAIT'"
      [pieces]="pieces"
      [callBackOnClick]="callBackOnClick"
      [aniConfig]="aniConfig"
    ></app-board>
    <div class="border bg-dark p-2 w-100">
      <h4 class="mt-1 text-white d-inline-block text-truncate player-name-width" title="{{player.name}}">{{i18n.get('player')}}({{player.name}})</h4>
      <app-chat></app-chat>
    </div>
  </div>
  <app-console *ngIf="room.status === 'PLAYING'"
    [room]="room"
    [player]="player"
    [selectedCards]="selectedCards"
    [canCardSubmit]="canCardSubmit"
    [cardDisabled]="cardDisabled"
    [callBackUnselectCard]="callBackUnselectCard"
    [callBackSelectCard]="callBackSelectCard"
    [callBackCardSubmit]="callBackCardSubmit"
  ></app-console>
  <app-end-game-modal *ngIf="room.status === 'END'"
  [room]="room"
  [player]="player"
  ></app-end-game-modal>
</div>
