<div class="container" *ngIf="room">
  <h1>{{room.title}}({{room.players.length}}/{{room.playerLimit}})</h1>

  <div class="background container" *ngIf="room.status === 'WAIT'">
    <div class="card bg-transparent" style="width: fit-content;">
      <div class="card-header border-white">
        <h1 class="text-white">시작 위치와 말 선택</h1>
      </div>
      <div class="card-body border-white">
        <div class="row row-cols-2">
          <div class="col border border-white p-0" *ngFor="let position of positions">
            <app-select-piece [position]="position" [player]="player" [room]="room" (roomChange)="changeRoom($event)"></app-select-piece>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end border-white">
        <button class="btn btn-secondary" routerLink="/rooms">LEAVE ROOM</button>
        <button class="btn btn-info ml-2" (click)="shuffle()">SHUFFLE</button>
        <button class="btn btn-info ml-2 {{startBtnDisableClass}}" (click)="start()">GAME START</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pr-0 mr-2">
      <div class="d-flex flex-column p-1 bg-dark fit-contents">
        <div class="d-flex" *ngFor="let dices of room.map">
          <div *ngFor="let dice of dices">
            <app-dice [dice] = "dice"></app-dice>
          </div>
        </div>
      </div>
    </div>
    <div class="col border bg-dark p-2">
      <h4 class="mt-1 text-white d-inline-block text-truncate player-name-width" title="{{player.name}}">플레이어({{player.name}})</h4>
      <app-chat></app-chat>
    </div>
  </div>
  <div class="row" *ngIf="room.status === 'PLAYING'">
    <div class="col ml-3 bg-dark ui"></div>
  </div>
</div>
