/* You can add global styles to this file, and also import other style files */

// body {
//   background-color: lightblue;
// }
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  background-color: #212529;;
  // background-color: #f5f5f5;
}

.fit-contents {
  width: fit-content;
  height: fit-content;
}

.logo-size {
  height: 100px;
}

.cursor-unset {
  cursor: unset !important;
}

.blinking{
  -webkit-animation:blink 0.5s infinite alternate;
  -moz-animation:blink 0.5s infinite alternate;
  animation:blink 0.5s infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0.4;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0.4;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0.4;}
  100% {opacity:1;}
}

.blinking-dice {
  -webkit-animation:blinkdice 0.5s infinite alternate;
  -moz-animation:blinkdice 0.5s infinite alternate;
  animation:blinkdice 0.5s infinite alternate;
}
@-webkit-keyframes blinkdice {
  0% {color:white;}
  100% {color:black;}
}
@-moz-keyframes blinkdice{
  0% {color:white;}
  100% {color:black;}
}
@keyframes blinkdice {
  0% {color:white;}
  100% {color:black;}
}

.menu-width {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  .menu-width {
    width: 70vw;
  }
}

.i18n-select {
  max-width: 9rem;
  right: 0;
  bottom: 0;

  .select-box-width {
    width: 7rem;
  }
}
