/* You can add global styles to this file, and also import other style files */

// body {
//   background-color: lightblue;
// }

.fit-contents {
  width: fit-content;
  height: fit-content;
}

.logo-size {
  height: 100px;
}

.cursor-unset {
  cursor: unset !important;
}
