<div class="d-flex text-white justify-content-between">
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="1"></app-view-dice><span class="counter-size">X {{counter[1]}}</span></div>
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="2"></app-view-dice><span class="counter-size">X {{counter[2]}}</span></div>
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="3"></app-view-dice><span class="counter-size">X {{counter[3]}}</span></div>
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="4"></app-view-dice><span class="counter-size">X {{counter[4]}}</span></div>
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="5"></app-view-dice><span class="counter-size">X {{counter[5]}}</span></div>
  <div class="d-flex"><app-view-dice [disabledClass]="'cursor-unset'" [mini]="true" [num]="6"></app-view-dice><span class="counter-size">X {{counter[6]}}</span></div>
</div>
