.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
tr {
  font-size: 1.5rem;
}
.title-size {
  font-size: 1.5rem;
}
.player-name-width {
  max-width: 10rem;
}
.orange {
  filter: invert(65%) sepia(80%) saturate(2979%) hue-rotate(356deg) brightness(98%) contrast(110%);
}
.candy-size {
  width: 1.5rem;
  height: 1.5rem;
}