<div ngbPopover="{{playerName}}" triggers="mouseenter:mouseleave" class="position-relative" [@insertAnimate]="insertConfig" [ngSwitch]="num">
  <div class="btn dice {{colors[this.num - 1]}} {{disabledClass}}" (click)="onClick()">
    <div class="column">
      <div class="dot" [style.background-color]="[2, 3, 4, 5, 6].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[6].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[4, 5, 6].includes(num) ? 'white' : 'transparent'"></div>
    </div>
    <div class="column">
      <div class="dot" [style.background-color]="[].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[1, 3, 5].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[].includes(num) ? 'white' : 'transparent'"></div>
    </div>
    <div class="column">
      <div class="dot" [style.background-color]="[4, 5, 6].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[6].includes(num) ? 'white' : 'transparent'"></div>
      <div class="dot" [style.background-color]="[2, 3, 4, 5, 6].includes(num) ? 'white' : 'transparent'"></div>
    </div>
  </div>
  <div *ngIf="icon" [@moveAnimate]="moveConfig" class="btn piece position-absolute z-1000 {{disabled ? 'cursor-unset' : ''}}" (click)="onClick()">
    <span class="{{blinkClass}} icon-size" [style.color]="isMe ? 'darkorange' : 'white'">
      <fa-icon [icon]="icon"></fa-icon>
    </span>
  </div>
</div>
