.dot {
  width:10px;
  height:10px;
  border-radius: 50%;
}

.dark-dot {
  @extend .dot;
  background-color: #343a40;
}

.dice {
  @extend .dice-size;
  margin: 0.25rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.column {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dice-size {
  height: 45px;
  width: 45px;
}

.piece {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: thick;
  border-color: black;
  border-radius: 50%;
  justify-content: center;
  z-index: 1300;
  top: 3px;
  left: 6.5px;
  background: black;
  padding: 0;
}

.icon-size {
  font-size: 1.4rem;
}

.z-1000 {
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .dice-size {
    height: calc(100vw/11.6);
    width: calc(100vw/11.6);
  }
  .dot {
    width: calc(100vw/50);
    height: calc(100vw/50);
    border-radius: 50%;
  }
  .dice {
    @extend .dice-size;
    margin: 0.15rem;
    padding: 0.21rem;
    display: flex;
    justify-content: space-between;
  }
  .piece {
    height: calc(100vw/15);
    width: calc(100vw/15);
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 50%;
    justify-content: center;
    z-index: 1050;
    top: 3px;
    left: 6.5px;
    background: black;
    padding: 0;
  }
  .icon-size {
    font-size: calc(100vw/22);
    position: absolute;
    top: -6px;
  }
}
