<div class="container">
  <div class="row p-1 pr-0">
    <div class="col m-2 border border-white d-flex p-0" [ngSwitch]="position">
      <div *ngSwitchCase="'left-top'"     class="dot ml-2    mr-auto mb-auto mt-2"></div>
      <div *ngSwitchCase="'right-top'"    class="dot ml-auto mr-2    mb-auto mt-2"></div>
      <div *ngSwitchCase="'left-bottom'"  class="dot ml-2    mr-auto mb-2    mt-auto"></div>
      <div *ngSwitchCase="'right-bottom'" class="dot ml-auto mr-2    mb-2    mt-auto"></div>
    </div>
    <div class="col">
      <div class="row">
        <button class="dice-size p-0 btn m-2 {{setClassName(knightPiece)}}" (click)="selectPiece(knightPiece)">
          <span class="icon-size"><fa-icon [icon]="knightPiece.piece"></fa-icon></span>
        </button>
        <button class="dice-size p-0 btn m-2 {{setClassName(rookPiece)}}" (click)="selectPiece(rookPiece)">
          <span class="icon-size"><fa-icon [icon]="rookPiece.piece"></fa-icon></span>
        </button>
      </div>
      <div class="row">
        <button class="dice-size p-0 btn m-2 {{setClassName(kingPiece)}}" (click)="selectPiece(kingPiece)">
          <span class="icon-size"><fa-icon [icon]="kingPiece.piece"></fa-icon></span>
        </button>
        <button class="dice-size p-0 btn m-2 {{setClassName(queenPiece)}}" (click)="selectPiece(queenPiece)">
          <span class="icon-size"><fa-icon [icon]="queenPiece.piece"></fa-icon></span>
        </button>
      </div>
    </div>
  </div>
</div>