<h1>{{title}}</h1>

<div class="row ml-3 p-1 bg-dark">
  <div class="btn m-1 btn-success text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px; line-height: 100px;">
    <div class="d-flex"><div style="width:30px; height:30px;"></div></div>
    <div class="d-flex mt-auto">
      <div style="width:20px; height:20px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:30px; height:30px;"></div>
      <div style="width:20px; height:20px;"></div>
    </div>
    <div class="d-flex mt-auto"><div style="width:30px; height:30px;"></div></div>
  </div>
  <div class="btn m-1 btn-warning text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px;">
    <div class="d-flex">
      <div class="rounded-circle bg-white mr-auto" style="width:30px; height:30px;"></div>
      <div style="width:20px; height:20px;"></div>
      <div style="width:20px; height:20px;"></div>
    </div>
    <div class="d-flex mt-auto"><div style="width:20px; height:20px;"></div></div>
    <div class="d-flex mt-auto">
      <div class="mr-auto" style="width:20px; height:20px;"></div>
      <div class="mr-auto" style="width:20px; height:20px;"></div>
      <div class="rounded-circle bg-white" style="width:30px; height:30px;"></div>
    </div>
  </div>
  <div class="btn m-1 btn-secondary text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px;">
    <div class="d-flex">
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="mr-auto" style="width:25px; height:25px;"></div>
      <div class="mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white" style="width:25px; height:25px;"></div>
    </div>
  </div>
  <div class="btn m-1 btn-danger text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px;">
    <div class="d-flex">
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white" style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle" style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white" style="width:25px; height:25px;"></div>
    </div>
  </div>
  <div class="btn m-1 btn-info text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px;">
    <div class="d-flex">
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white" style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle" style="width:25px; height:25px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle bg-white mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle mr-auto" style="width:25px; height:25px;"></div>
      <div class="rounded-circle bg-white" style="width:25px; height:25px;"></div>
    </div>
  </div>
  <div class="btn m-1 p-2 btn-primary text-lg-center text-white d-flex flex-column" style="height: 100px; width: 100px;">
    <div class="d-flex">
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white" style="width:22px; height:22px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white" style="width:22px; height:22px;"></div>
    </div>
    <div class="d-flex mt-auto">
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white mr-auto" style="width:22px; height:22px;"></div>
      <div class="rounded-circle bg-white" style="width:22px; height:22px;"></div>
    </div>
  </div>
</div>
