.dark-dot {
  @extend .dot;
  background-color: #343a40;
}

.dice {
  margin: 0.25rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.column {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dot {
  width:12px;
  height:12px;
  border-radius: 50%;
}

.mini-dot {
  width:8px;
  height:8px;
  border-radius: 50%;
}

.mini-dice-size {
  @extend .dice;
  height: 40px;
  width: 40px;
}

.dice-size {
  @extend .dice;
  height: 50px;
  width: 50px;
}
