.chat-size {
  width: 100%;
  max-height: 18rem;
  min-height: 18rem;
}
.chat-size-system {
  width: 100%;
  max-height: 8rem;
  min-height: 8rem;
}

.chat-bg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

@media screen and (max-width: 768px) {
  .chat-size {
    width: 100%;
    max-height: 7rem;
    min-height: 7rem;
  }
  .chat-size-system {
    width: 100%;
    max-height: 5rem;
    min-height: 5rem;
  }
}