<div #scrollMe class="p-2 mb-1 rounded chat-size chat-bg overflow-auto">
  <div *ngFor="let message of messages">
    <app-chat-message [message]="message" [playerId]="playerId"></app-chat-message>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="메세지를 입력하세요" name="content" [(ngModel)]="message.content">
    <button class="btn btn-primary btn-sm text-white" type="submit">
      <fa-icon [icon]="planeIcon"></fa-icon>
    </button>
  </div>
</form>