.console-ui {
  height: 7.1rem;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card-submit-size {
  width: 7rem;
}

.submit-font-size {
  font-size: 1.5rem;
}
