.console-ui {
  height: 100%;
  width: 54.5rem;
  min-width: 54.5rem;
  max-width: 54.5rem;
  margin-top: 0.25rem;
  padding: 0;
}

.overflow {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .console-ui {
    height: 7.1rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .overflow {
    overflow: auto;
    min-width: 11.4rem;
    flex-direction: column;
    display: flex;
  }
}