<div class="bg-dark console-ui p-1">
  <div class="overflow">
    <div *ngFor="let p of room.players">
      <app-player-status
        [icon]="p.piece"
        [life]="p.life"
        [cards]="p.cards.length"
        [blink]="p._id === room.currentPlayer"
        [killed]="room.mode.scramble ? p.life : p.killedPlayer"
        [isMe]="p._id === player._id"
        [isScramble]="room.mode.scramble"
      ></app-player-status>
    </div>
  </div>
  <div class="border rounded border-white flex-fill h-100 overflow-auto d-flex p-1">
    <app-card *ngFor="let card of player.cards; index as i"
      [num]="card"
      [index]="i"
      [selected]="isSelectedCard(card, i)"
      [disabled]="cardDisabled"
      [callBackUnselectCard]="callBackUnselectCard"
      [callBackSelectCard]="callBackSelectCard"
      @cardLeaveAnimate
    ></app-card>
  </div>
</div>
