<div class="mr-2">
  <div class="d-flex flex-column p-1 bg-dark fit-contents">
    <div class="d-flex" *ngFor="let piecesRow of pieces; index as i">
      <div *ngFor="let piece of piecesRow; index as j">
        <app-dice
          [num]="piece.num"
          [disabled]="piece.disabled"
          [icon]="piece.icon"
          [blink]="piece.blink"
          [coordinate]="[i, j]"
          [callBackOnClick]="callBackOnClick"
          [aniConfig]="aniConfig"
        ></app-dice>
      </div>
    </div>
  </div>
</div>
