.outline {
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.status-width {
  width: 13.5rem;
  height: 3.3rem;
}

.font-size {
  font-size: 1.2rem;
}

.times-size {
  font-size: 1rem;
}

.pattern {
  background: repeating-linear-gradient(45deg, #008ccf, #008ccf 4px, rgb(255, 255, 255) 0,rgb(255, 255, 255) 7px);
}

.card-size {
  width: 17px;
  height: 85%;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.candy-size {
  width: 1.5rem;
  height: 1.5rem;
}

.orange {
  filter: invert(65%) sepia(80%) saturate(2979%) hue-rotate(356deg) brightness(98%) contrast(110%);
}

.white {
  filter: invert(100%) sepia(4%) saturate(14%) hue-rotate(54deg) brightness(103%) contrast(105%);
}

@media screen and (max-width: 768px) {
  .status-width {
    width: 11.3rem;
    height: 3.3rem;
  }
}