.outline {
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.status-width {
  width: 11rem;
  height: 3.3rem;
}

.font-size {
  font-size: 1.2rem;
}

.times-size {
  font-size: 1rem;
}

.pattern {
  background: repeating-linear-gradient(45deg, #008ccf, #008ccf 4px, rgb(255, 255, 255) 0,rgb(255, 255, 255) 7px);
}

.card-size {
  width: 17px;
  height: 85%;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
