<div
  class="btn outline p-1 card-size mr-1 d-flex justify-content-center {{disabledClass}}"
  [style.background-color]="selected ? 'mediumaquamarine' : 'white'"
  (click)="onClick(num)"
  @cardAnimate
>
  <div *ngIf="!isItem" class="inner-outline d-flex align-items-center bg-white">
    <app-view-dice [num]="num" [disabledClass]="disabledClass"></app-view-dice>
  </div>
  <div *ngIf="isItem" class="inner-outline d-flex align-items-center {{bgColors[num - 7]}}">
    <app-item-card [num]="num" [disabledClass]="disabledClass"></app-item-card>
  </div>
</div>