<ng-template #content let-modal>
  <div class="modal-header">
    <span class="modal-title font-weight-bold title-size" id="modal-basic-title">{{i18n.get('gameRole')}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" tabindex="-1">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active p-0">
        <a
          class="btn text-white w-100"
          rel="noopener noreferrer"
          href="https://comic.naver.com/bestChallenge/detail.nhn?titleId=734597&no=8"
          target="_blank"
            >
            {{i18n.get('original')}}
        </a>
      </li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role1')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role2')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role3')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role4')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role5')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role6')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role7')}}</li>
      <li class="list-group-item"><fa-icon class="mr-1 text-success" [icon]="dotIcon"></fa-icon>{{i18n.get('role8')}}</li>
    </ul>
  </div>
</ng-template>

<button class="btn btn-primary btn-lg mb-2 menu-width" (click)="open(content)">
  {{i18n.get('gameRole')}}
</button>