<div class="background container border border-white">
  <div class="card bg-transparent">
    <div class="card-header border-white">
      <div class="d-flex justify-content-end">
        <span class="badge-size mr-1 d-table badge badge-{{room.mode.infinity ? 'success' : 'warning'}}">{{i18n.get(infinityBadge)}}</span>
        <span class="badge-size mr-1 d-table badge badge-primary" *ngIf="room.mode.item">{{i18n.get(itemBadge)}}</span>
        <span class="badge-size d-table badge badge-{{room.mode.scramble ? 'info' : 'danger'}}">{{i18n.get(scrambleBadge)}}</span>
      </div>
      <div class="d-flex">
        <span class="title-size text-white">{{i18n.get('selectPositionAndPiece')}}</span>
      </div>
    </div>
    <div class="card-body border-white">
      <div class="row row-cols-2">
        <div class="col border border-white p-0" *ngFor="let position of positions">
          <app-select-piece [position]="position" [player]="player" [room]="room"></app-select-piece>
        </div>
      </div>
    </div>
    <app-dice-board [room]="room" class="mb-4"></app-dice-board>
    <div class="card-footer d-flex justify-content-end border-white">
      <button class="btn btn-secondary" routerLink="/rooms">{{i18n.get('leaveRoom')}}</button>
      <button class="btn btn-info ml-2" (click)="callBackShuffle()">{{i18n.get('shuffle')}}</button>
      <button class="btn btn-info ml-2 {{startBtnDisableClass}}" (click)="callBackStart()">{{i18n.get('gameStart')}}</button>
    </div>
  </div>
</div>