<div class="background container">
  <div class="card bg-transparent">
    <div class="card-header border-white">
      <h3 class="text-white">{{i18n.get('selectPositionAndPiece')}}</h3>
    </div>
    <div class="card-body border-white">
      <div class="row row-cols-2">
        <div class="col border border-white p-0" *ngFor="let position of positions">
          <app-select-piece [position]="position" [player]="player" [room]="room"></app-select-piece>
        </div>
      </div>
    </div>
    <app-dice-board [room]="room"></app-dice-board>
    <div class="card-footer d-flex justify-content-end border-white">
      <button class="btn btn-secondary" routerLink="/rooms">{{i18n.get('leaveRoom')}}</button>
      <button class="btn btn-info ml-2" (click)="callBackShuffle()">{{i18n.get('shuffle')}}</button>
      <button class="btn btn-info ml-2 {{startBtnDisableClass}}" (click)="callBackStart()">{{i18n.get('gameStart')}}</button>
    </div>
  </div>
</div>