.background {
  min-height: 550px;
  min-width: 590px;
  max-height: 550px;
  max-width: 590px;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.badge-size {
  font-size: 0.8rem;
}
.title-size {
  font-size: 1.5rem;
}