<ng-template #content let-modal>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{i18n.get('player')}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" tabindex="-1">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input type="hidden" name="_id" [ngModel]="player._id">
      <input type="hidden" name="_roomId" [ngModel]="player._roomId">
      <div class="form-group">
        <label for="forPlayerName">{{i18n.get('nickName')}}</label>
        <input type="text" class="form-control {{invalidClass}}" id="forPlayerName" name="name" [ngModel]="player.name">
        <small class="text-danger float-left mb-3" *ngIf="validationError">
          {{i18n.get('insertNickName')}}
        </small>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">{{i18n.get('change')}}</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-info h-100 d-flex" (click)="open(content)" *ngIf="player">
  <span class="d-inline-block text-truncate mt-auto mb-auto"></span>
  <span class="d-inline-block text-truncate mt-auto mb-auto player-name-width">{{player.name}}</span>
  <span class="d-inline-block text-truncate mt-auto mb-auto">&nbsp;{{i18n.get('change')}}</span>
</button>