<h1>
  HOW TO PLAY
</h1>

<a
  rel="noopener noreferrer"
  href="https://comic.naver.com/bestChallenge/detail.nhn?titleId=734597&no=8"
  target="_blank"
>
  자작 보드게임 동아리 - 다이스맵
</a>
<ul>
  <li>플레이어 수 : 2 ~ 4인</li>
  <li>매 턴 카드 2장 뽑기</li>
  <li>턴 종료 시 무조건 한 장 낼 것</li>
  <li>제출한 주사위에 해당하는 셀은 무제한 이동가능</li>
  <li>(단, 동서남북 연속적으로 붙어있는 셀인 경우)</li>
  <li>생명은 3개, 0이 되면 탈락</li>
  <li>최종 1명이 남을 때 까지</li>
  <li>1 턴당 시간 제한 1분</li>
  <li>게임 스타트 하기 전엔 방장이 셔플 가능</li>
  <li>방장권한 : 게임 스타트, 셔플, 내보내기</li>
  <li>방장이 방을 나갈 경우 먼저 들어온 플레이어가 방장</li>
  <li>0명이 되면 방삭제</li>
</ul>