<ng-template #content let-modal>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Player</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input type="hidden" name="roomId" [ngModel]="player.roomId">
      <div class="form-group">
        <label for="forPlayerName">플레이어 이름</label>
        <div class="input-group">
          <input type="text" class="form-control" id="forPlayerName" name="name" [ngModel]="player.name">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-outline-dark btn-lg btn-block mb-1" (click)="open(content)">{{room.title}}({{room.players.length}}/{{room.playerLimit}})</button>
